.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    
}  

.flex-child:first-child {
    margin-left: 300px;
} 

.flex-child:last-child{

    margin-right: 200px;
}

body {
    background-color: #f5f5f5;
      }