<br><br><br>

<body>
    

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h3>Ticket Details</h3>
    <a>Total Fare is: {{totalFare}}</a>
    <br>
   <a> Username is: {{userName}} </a>
   <br>
   <a> Flight Id is: {{flightId}} </a>
   <br>
   <a> Booking Date is: {{bookingDate}} </a>
   <br>
   <br>
    <a> Hello {{userName}}, your booking has been confirmed in flight {{flightId}} , booking date is {{bookingDate}}.</a>
    <br><br>
    <button class="btn btn-secondary" (click)="printPage()">Print</button>
   
  </div>
 

</body>